<div id="<%= dom_id plante %>">
  <p class="h1-like">
    <div class="markdown-content mb-4">
      <h1><%= plante.nom.capitalize %></h1>
      <h1><%= plante.nom_scientifique %></h1>
    </div>
  </p>

  <% if @plante.image_url.present? %>
  <p class="my-5">
    <div class="markdown-content mb-4">
      <%= image_tag(plante.image_url, width: "500", alt: "Image de la plante") %>
    </div>
  </p>
  <% end %>

  <div class="h2-like">Origine:</div>
  <div id="map" style="height: 400px;"></div>

  <script>
      var map = L.map('map').setView([<%= @plante.latitude %>, <%= @plante.longitude %>], 3); // Zoom et position
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
      }).addTo(map);

      var marker = L.marker([<%= @plante.latitude %>, <%= @plante.longitude %>]).addTo(map)
      .bindPopup('<%= @plante.nom_scientifique %>')
      .openPopup();
  </script>

  <div class="h2-like">Condition de vie en été:</div>
    <div class="markdown-content mb-4">
      <%= sanitize(markdown_to_html(@plante.condition_ete_human_readable)) %>
    </div>

  <div class="h2-like">Arrosage en été</div>
    <div class="markdown-content mb-4">
      <%= sanitize(markdown_to_html(@plante.arrosage_ete)) %>
    </div>
  

  <div class="h2-like">Condition de vie en hiver:</div>
    <div class="markdown-content mb-4">
      <%= sanitize(markdown_to_html(@plante.condition_hiver_human_readable)) %>
    </div>
  

  <div class="h2-like">Arrosage en hiver:</div>
    <div class="markdown-content mb-4">
      <%= sanitize(markdown_to_html(@plante.arrosage_hiver)) %>
    </div>
  

  <div class="h2-like">Etat de santé:</div>
    <div class="markdown-content mb-4">
      <%= sanitize(markdown_to_html(@plante.sante)) %>
    </div>
  

  <div class="h2-like">Signes de problèmes:</div>
    <div class="markdown-content mb-4">
      <%= sanitize(markdown_to_html(@plante.probleme)) %>
    </div>
  

  <div class="h2-like">Conseils:</div>
    <div class="markdown-content mb-4">
      <%= sanitize(markdown_to_html(@plante.conseil)) %>
    </div>
  

  <div class="h2-like">Besoins nutritionnels:</div>
    <div class="markdown-content mb-4">
      <%= sanitize(markdown_to_html(@plante.besoin)) %>
    </div>
  
  <div class="h2-like">Conseils de papi:</div>
    <div class="markdown-content mb-4">
      <%= sanitize(markdown_to_html(@plante.conseil_expert)) %>
    </div>

  <% if action_name != "show" %>
    <%= link_to "Show this plante", plante, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this plante", edit_plante_path(plante), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
