<div id="<%= dom_id plante %>">
  <p class="h1-like">
    <div class="markdown-content mb-4">
      <h1><%= plante.nom.capitalize %></h1>
    </div>
  </p>

  <% if @plante.image_url.present? %>
  <p class="my-5">
    <div class="markdown-content mb-4">
      <%= image_tag(plante.image_url, width: "500", alt: "Image de la plante") %>
    </div>
  </p>
  <% end %>

  <p><div class="h2-like">Observation:</div>
    <div class="markdown-content mb-4">
      <%= sanitize(markdown_to_html(@plante.observation)) %>
    </div>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this plante", plante, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this plante", edit_plante_path(plante), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
