<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @plante %>

    <%= link_to "Editer cette plante", edit_plante_path(@plante), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Retour aux plantes", plantes_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Detruire cette plante", plante_path(@plante), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-600 inline-block font-medium" %>
    </div>
    <%= link_to "Retour aux familles", familles_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
