<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-8">
    <div class="h1-like">Bienvenue dans le monde des plantes</div>
  </div>

  
  <%= form_with(url: rechercher_path, method: "get", local: true) do |form| %>
    <div class="flex justify-between items-center mb-8">
      <div class="h2-like"><%= form.label :query, "Rechercher une plante:" %></div>
      <%= form.text_field :query %>
      <%= form.submit "Voir", class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
    </div>
  <% end %>
  

  <br>
  <div class="flex justify-between items-center mb-8">
    <div class="h2-like">Types de plantes</div>
    <%= link_to "Voir", types_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
  </div>

  <div class="flex justify-between items-center mb-8">
    <div class="h2-like">Familles de plantes</div>
    <%= link_to "Voir", familles_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
  </div>

  <div class="flex justify-between items-center mb-8">
    <div class="h2-like">Plantes</div>
    <%= link_to "Voir", plantes_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium" %>
  </div>

