<%= form_with url: chat_submit_path, method: :post, local: true, multipart: true, data: { turbo: false } do |form| %>
  <div>
    <%= form.label :message, "Posez votre question ici :" %>
    <%= form.text_field :message %>
  </div>
  <div>
    <%= form.label :image_url, "URL de l'image :" %>
    <%= form.text_field :image_url %>
  </div>

  <%= form.submit "Envoyer" %>
<% end %>

<% if @response %>
  <p>Réponse : <%= @response %></p>
<% end %>

<% if @error %>
  <p>Erreur : <%= @error %></p>
<% end %>
